.container{
  width: 90%;
  max-width: 840px;
  margin: auto;
  margin-top: 50px;
}
.Form{
  background-color: var(--third-color);
  padding: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 7px rgba(82, 82, 82, 0.4);
}
.Form select{
  padding: 0px 10px;
  height: 50px;
  border: none;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.Form label{
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}
.container h1{
  text-align: center;
}